<h1 align = "center"> Cliente </h1>
<h2 align = "center"> Adicionar </h2>
<br>
<br>

<table align = "center">
<tr>
   <td align = "center">
      <%= render 'form' %>
   </td>
</tr>
<tr>
   <td align = "center">
      <br>
      <br>
      <%= link_to 'Voltar', clientes_path %>
   </td>
</tr>

</table>
