<h1 align = "center"> Restaurantes</h1>
<h2 align = "center"> Editar </h2>
<br>
<br>

<table align = "center">
<tr>
   <td align = "center">
      <%= render 'form' %>
   </td>
</tr>
<tr>
   <td align = "center">
      <br>
      <br>
      <font size = 3>
<%= link_to 'Mostrar', @restaurante %> |
<%= link_to 'Voltar', restaurantes_path %>
</font>
   </td>
</tr>

</table>
