
<h1 align = "Center">Comentários</h1>
<h2 align = "Center">Editar</h2>
<br>
<br>


<table align = "center">
<tr>
   <td align = "center">
      <%= render 'form' %>
   </td>
</tr>
<tr>
   <td align = "center">
      <br>
      <br>
         <%= link_to 'Mostrar', @comentario %> |
         <%= link_to 'Voltar', comentarios_path %>
       </td>
</tr>

</table>

<br><br><br>


