<br>
<h1 align = "Center">Comentários</h1>
<h2 align = "Center">Adicionar</h2>
<br>
<table align = "center">
<tr>
   <td align = "center">
      <font size = 3>
      <%= render 'form' %>
   </font>
   </td>
</tr>
<tr>
   <td align = "center">
      <br>
         <font size = 3>
         <%= link_to 'Voltar', comentarios_path %>
      </font>
      </td>
</tr>

</table>
