body {
  margin:0px;
  background-image: url(images/restaurant_bg.gif);
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}




.corpo{
  background-image: url(iimages/restaurant_bg.gif);
-webkit-border-image: url(images/restaurant_bg.gif) 10 stretch;
  -moz-border-image: url(images/restaurant_bg.gif) 10 stretch;
  -o-border-image: url(images/restaurant_bg.gif) 10 stretch;
  background-image:"images/restaurant_bg.gif";
}
#container
{
top: 0;
width:775px;
height:680px;
margin:0 auto;
background-color:#b38961;
}
#login
{
top:0;
width:306px;
height:20px;
background-color:#b42f24;
}
#links
{
width:775px;
height:70px;
background-color:#fcbe00;
}
#innerlinks
{
padding-left:100px;
padding-top: 20px;
}
.links
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
font-weight:bold;
font-style:normal;
font-variant:small-caps;
color:#ab281d;
text-decoration:none;
}
.menus{
float:left;
margin-left:5px;
padding-left:5px;

}
.bullet
{
margin-left:30px;
margin-top:5px;
float:left;
margin-right: 15px;
background-image: url(images/bullet.gif);
width:7px;
height:8px;

}
#header
{
width:774px;
height:237px;
background-color:#b42f24;
}
#leftpart
{
width:306px;
height:237px;
float:left;
background-color:#b42f24;
}
#rightpart
{
width:467px;
height:237px;
float:right;
background-image: url(images/image1.jpg);
width:466px;
height:235px;
}
.heading1
{
margin-top:80px;
margin-left:10px;

}
.text1
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:20px;
font-weight:bold;
color:#ffffff;
font-style: italic;
font-variant: normal;
}
.text2
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
font-weight:bold;
color:#d5948e;
float: right;
padding-right: 24px;
line-height: 23px;
}
.image1
{
border-color:#fcbe00;
border-width:1px;
border-style:solid;
}
#bodypart
{
width:774px;
height:315px;
background-color:#b38961;
text-align:center;
}
#left
{
width:10px;
height:315px;
float:left;
/* Para Mozilla/Gecko (Firefox etc) */
background: -moz-linear-gradient(top, #b42f24, #fcbe00) repeat-X;
 
/* Para WebKit (Safari, Google Chrome etc) */
background: -webkit-gradient(linear, left top, left bottom, from(#b42f24), to(#fcbe00)) repeat-X;
}
#right
{
width:10px;
height:315px;
float:right;
/* Para Mozilla/Gecko (Firefox etc) */
background: -moz-linear-gradient(top, #b42f24, #fcbe00) repeat-X;
 
/* Para WebKit (Safari, Google Chrome etc) */
background: -webkit-gradient(linear, left top, left bottom, from(#b42f24), to(#fcbe00)) repeat-X;
}
#center
{
width:795px;
height:355px;
float:center;
}
.heading2
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
color:#000000;
padding-left: 20px;
margin-top: 25px;
font-variant: small-caps;
}
#innerpart
{
width:393px;
height:135px;
}
#innerpart1
{
width:380px;
height:135px;
margin-top: 0px;
}
#innerleft
{
float:left;
width:205px;
height:135px;
}
#innerleft1
{
float:left;
width:200px;
height:135px;
}
#innerright
{
width:177px;
height:135px;
float:right;
padding-right: 8px;
}
#innerright1
{
width:150px;
height:135px;
float:right;
padding-right: 8px;
}
.text13
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#ddc114;
}
.text3
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#000000;
padding-left:5px;
}
#bullet1
{
float:right;
padding-right:25px;
margin-top: -10px;
}
#bullet4
{
float:right;
padding-right:25px;
margin-top: -10px;
}
#bullet3
{
float:right;
padding-right:25px;
margin-top: -10px;
}
.bullet2
{
padding-left:10px;
padding-top:10px;
}
.text9
{
color:#ffffff;
font-size:10px;
text-decoration:none;
font-family:Verdana, Arial, Helvetica, sans-serif;
padding-left:5px;
margin-top: 0px;
}
.para2
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#000000;
padding-left: 20px;
margin-top: 0px;
line-height: 13px;
text-align: justify;
}
.image2
{
border-color:#FFFFFF;
border-style:solid;
border-width:1px;
}
.image3
{
border-color:#FFFFFF;
border-style:solid;
border-width:1px;
}
#list
{
width:393px;
height:94px;
margin-top: 0px;
padding-top: 10px;
}
#footer
{
width:775px;
height:64px;
background-color:#fcbe00;
margin-top: 0px;
}
.content4
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
font-weight:bold;
color:#000000;
text-decoration:none;
margin-left:30px;
margin-top:0px;
padding-top: 20px;
}
.footerlinks
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:bold;
font-weight:bold;
color:#000000;
text-decoration:none;
}
.content5
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:bold;
color:#000000;
margin-top:0px;
text-decoration:none;
margin-left: 70px;
margin-top:0px;
padding-top:0px;
}
a { color:#000000; text-decoration:none;}
a:hover { color:#ffffff; text-decoration: none; }
a.text8:hover{color:#000000; text-decoration:none;}
a.text9:hover{color:#f6bd0f; text-decoration:none;}
