body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}


.header{
  background-image: url(img/bgHeader.jpg);
  width: 100%; 
  height: 30%;
}

.body{
  background-image: url(img/bgBody.jpg);
}

body{
  background-color: #000;
}

.footer{
  background-image: url(img/bgFooter.jpg);
  font-size: 14px;
}

.tabela{
  -moz-border-radius: 50px; 
  -webkit-border-radius: 50px;
  border-radius:50px;
}

.botaoRest {
  align:center;
  display:block;
  width: 134px;
  height: 53px;
  text-align:center;
  font:bold 14px verdana, arial, tahoma, sans-serif;
  text-decoration:none;
  color:black;
  border-width:10px;
  -webkit-border-image: url(img/Restaurantes.gif) 10 stretch;
  -moz-border-image: url(img/Restaurantes.gif) 10 stretch;
  -o-border-image: url(img/Restaurantes.gif) 10 stretch;
}

.botaoRest:hover {
  display:block;
  width: 134px;
  height: 53px;
  text-valign:center;
  font:bold 14px verdana, arial, tahoma, sans-serif;
  text-decoration:none;
  color:black;
  border-width:10px;
  -webkit-border-image: url(img/Restaurantes_hover.gif) 10 stretch;
  -moz-border-image: url(img/Restaurantes_hover.gif) 10 stretch;
  -o-border-image: url(img/Restaurantes_hover.gif) 10 stretch;
}

.botaoQualific {
  display:block;
  width: 134px;
  height: 53px;
  text-valign:center;
  font:bold 14px verdana, arial, tahoma, sans-serif;
  text-decoration:none;
  color:black;
  border-width:10px;
  -webkit-border-image: url(img/Qualif.gif) 10 stretch;
  -moz-border-image: url(img/Qualif.gif) 10 stretch;
  -o-border-image: url(img/Qualif.gif) 10 stretch;
}

.botaoQualific:hover {
  display:block;
  width: 134px;
  height: 53px;
  text-valign:center;
  font:bold 14px verdana, arial, tahoma, sans-serif;
  text-decoration:none;
  color:black;
  border-width:10px;
  -webkit-border-image: url(img/Qualif_hover.gif) 10 stretch;
  -moz-border-image: url(img/Qualif_hover.gif) 10 stretch;
  -o-border-image: url(img/Qualif_hover.gif) 10 stretch;
}

.botaoCliente {
  display:block;
  width: 134px;
  height: 53px;
  text-valign:center;
  font:bold 14px verdana, arial, tahoma, sans-serif;
  text-decoration:none;
  color:black;
  border-width:10px;
  -webkit-border-image: url(img/Clientes.gif) 10 stretch;
  -moz-border-image: url(img/Clientes.gif) 10 stretch;
  -o-border-image: url(img/Clientes.gif) 10 stretch;
}

.botaoCliente:hover {
  display:block;
  width: 134px;
  height: 53px;
  text-valign:center;
  font:bold 14px verdana, arial, tahoma, sans-serif;
  text-decoration:none;
  color:black;
  border-width:10px;
  -webkit-border-image: url(img/Clientes_hover.gif) 10 stretch;
  -moz-border-image: url(img/Clientes_hover.gif) 10 stretch;
  -o-border-image: url(img/Clientes_hover.gif) 10 stretch;
}

.botaoComent {
  display:block;
  width: 134px;
  height: 53px;
  text-valign:center;
  font:bold 14px verdana, arial, tahoma, sans-serif;
  text-decoration:none;
  color:black;
  border-width:10px;
  -webkit-border-image: url(img/Comentarios.gif) 10 stretch;
  -moz-border-image: url(img/Comentarios.gif) 10 stretch;
  -o-border-image: url(img/Comentarios.gif) 10 stretch;
}

.botaoComent:hover {
  display:block;
  width: 134px;
  height: 53px;
  text-valign:center;
  font:bold 14px verdana, arial, tahoma, sans-serif;
  text-decoration:none;
  color:black;
  border-width:10px;
  -webkit-border-image: url(img/Comentarios_hover.gif) 10 stretch;
  -moz-border-image: url(img/Comentarios_hover.gif) 10 stretch;
  -o-border-image: url(img/Comentarios_hover.gif) 10 stretch;
}

.pontaEsq {
  display:block;
  width: 60%;
  height: 100%;
  text-valign:center;
  font:bold 14px verdana, arial, tahoma, sans-serif;
  text-decoration:none;
  color:black;
  border-width:10px;
  -webkit-border-image: url(img/boi2.gif) 10 stretch;
  -moz-border-image: url(img/boi2.gif) 10 stretch;
  -o-border-image: url(img/boi2.gif) 10 stretch;
}

.pontaDir {
  display:block;
  width: 60%;
  height: 100%;
  text-valign:center;
  font:bold 14px verdana, arial, tahoma, sans-serif;
  text-decoration:none;
  color:black;
  border-width:10px;
  -webkit-border-image: url(img/boi.gif) 10 stretch;
  -moz-border-image: url(img/boi.gif) 10 stretch;
  -o-border-image: url(img/boi.gif) 10 stretch;
}

.header_center {
  display:block;
  width: 100%;
  height: 100%;
  text-valign:center;
  font:bold 14px verdana, arial, tahoma, sans-serif;
  text-decoration:none;
  color:black;
  border-width:10px;
  -webkit-border-image: url(img/H.gif) 10 stretch;
  -moz-border-image: url(img/H.gif) 10 stretch;
  -o-border-image: url(img/H.gif) 10 stretch;
}

.img1 {
  display:block;
  width: 120px;
  height: 60px;
  color:black;
  border-width:10px;
  -webkit-border-image: url(img/img1.jpg) 10 stretch;
  -moz-border-image: url(img/img1.jpg) 10 stretch;
  -o-border-image: url(img/img1.jpg) 10 stretch;
}

.img2 {
  display:block;
  width: 120px;
  height: 60px;
  color:black;
  border-width:10px;
  -webkit-border-image: url(img/img2.jpg) 10 stretch;
  -moz-border-image: url(img/img2.jpg) 10 stretch;
  -o-border-image: url(img/img2.jpg) 10 stretch;
}

.img3 {
  display:block;
  width: 120px;
  height: 60px;
  color:black;
  border-width:10px;
  -webkit-border-image: url(img/img3.jpg) 10 stretch;
  -moz-border-image: url(img/img3.jpg) 10 stretch;
  -o-border-image: url(img/img3.jpg) 10 stretch;
}

.img4 {
  display:block;
  width: 120px;
  height: 60px;
  color:black;
  border-width:10px;
  -webkit-border-image: url(img/img4.jpg) 10 stretch;
  -moz-border-image: url(img/img4.jpg) 10 stretch;
  -o-border-image: url(img/img4.jpg) 10 stretch;
}

.img5 {
  display:block;
  width: 120px;
  height: 60px;
  color:black;
  border-width:10px;
  -webkit-border-image: url(img/img5.jpg) 10 stretch;
  -moz-border-image: url(img/img5.jpg) 10 stretch;
  -o-border-image: url(img/img5.jpg) 10 stretch;
}

.img6 {
  display:block;
  width: 120px;
  height: 60px;
  color:black;
  border-width:10px;
  -webkit-border-image: url(img/img6.jpg) 10 stretch;
  -moz-border-image: url(img/img6.jpg) 10 stretch;
  -o-border-image: url(img/img6.jpg) 10 stretch;
}